Proyek Data Mining : Prediksi Gaji Karyawan (Linear Regression)
Oleh               : Muhammad Al Gifari**

Proyek ini bertujuan untuk membangun model Machine Learning sederhana yang dapat memprediksi estimasi gaji karyawan di Indonesia berdasarkan jumlah tahun pengalaman kerja mereka.

In [ ]:
import csv
import random

# 30 data karyawan acak
# Format: [Pengalaman (Tahun), Gaji (Juta)]
data_gaji = [
    ['Tahun_Pengalaman', 'Gaji_Juta'], # Header
    [0.5, 5.2], [0.8, 5.5], [1.0, 5.8], [1.1, 6.0], [1.3, 6.2],
    [1.5, 6.5], [2.0, 7.5], [2.2, 7.8], [2.5, 8.2], [2.9, 8.5],
    [3.0, 9.0], [3.2, 9.5], [3.5, 10.0], [3.7, 10.5], [4.0, 11.5],
    [4.2, 12.0], [4.5, 12.5], [5.0, 14.0], [5.2, 14.5], [5.5, 15.5],
    [6.0, 17.0], [6.5, 18.5], [7.0, 20.0], [7.5, 21.5], [8.0, 23.0],
    [8.5, 24.5], [9.0, 26.0], [9.5, 27.5], [10.0, 29.0], [10.5, 30.0]
]

# Menulis data ke file csv
with open('gaji_indonesia.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data_gaji)

print("Berhasil! File 'gaji_indonesia.csv' sudah dibuat.")

Berhasil! File 'gaji_indonesia.csv' sudah dibuat.

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

df = pd.read_csv('gaji_indonesia.csv')
df.head()

   Tahun_Pengalaman  Gaji_Juta
0               0.5        5.2
1               0.8        5.5
2               1.0        5.8
3               1.1        6.0
4               1.3        6.2

In [ ]:
#Splitting data
x = df[['Tahun_Pengalaman']]
y = df['Gaji_Juta']

#membagi data; 80% untuk belajar, 20% untuk ujian
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
print('Data Berhasil Dibagi!')

Data Berhasil Dibagi!

In [ ]:
#Training Model
model = LinearRegression()
model.fit(x_train, y_train) #Mesin sedang belajar di sini
print("training selesai!")

training selesai!

In [ ]:
#Evaluasi
akurasi = model.score(x_test, y_test)
print(f"Akurasi Model (R-Squared): {akurasi*100:.2f}%")

Akurasi Model (R-Squared): 98.44%

In [ ]:
#prediksi baru(simulasi)
#test gaji dengan pengalaman 5th dan gajinya berapa?
pengalaman_baru = np.array([[5]])
prediksi = model.predict(pengalaman_baru)

print(f"Prediksi Gaji Dengan Pengalaman 5Th: Rp {prediksi[0]:.2f} Juta")

Prediksi Gaji Dengan Pengalaman 5Th: Rp 15.04 Juta

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(